.about {
    background: $color2;
    display: flex;
    color: $color1;
    font-family: Poppins;
    height: 65vh;
    ::selection {
        color: $color3;
    }
    .about-left {
        width: 50%;
        #portrait {
            transform: translate(75%, 14%);
            border-radius: 10px;
            box-shadow:  7px 6px 9px 0px rgba(11, 11, 11, 0.533);
        }
    }
    .about-right {
        width: 50%;
        
        h2 {
            font-size: 3.5rem;
            margin-top: 50px;
            margin-bottom: 0;
        }
        h3 {
            font-size: 1.8rem;
            margin-top: 10px;
            span {
                color: $color3;
            }
        }
        p {
            font-size: 1.2rem;
            width: 90%;
            margin-bottom: 40px;
        }
    }
}