.contact {
    background: $color1;
    font-family: Poppins;
    color: $color2;
    height: 65vh;
    position: relative;
    @media (max-width: 970px) {
        height: 60vh;
    }
    h3 {
        margin: 0;
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 100px;
        padding-top: 50px;
        @media (max-width: 970px) {
            display: none;
        }
        @media (max-height: 800px) {
            padding-bottom: 30px;
        }
        
    }
    .contact-elements {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        @media (max-width: 970px) {
            display: block;
        }
        .contact-card {
            background: $color2;
            color: $color1;
            width: 100%;
            border-radius: 15px;
            box-shadow: 10px 10px $color3;
            height: 300px;
            width: 250px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            @media (max-width: 970px) {
                display: none;
            }
            h4 {
                font-size: 1.2rem;
            }
            p {
                font-size: 1rem;
            }
            i {
                font-size: 2.5rem;
            }
            .social-network {
                ul {
                    display: flex;
                    justify-content: space-around;
                    margin: 0;
                    padding: 0;
                    a {
                        color: $color1;
                    }
                    i {
                        transition: 0.4 ease;
                        &:hover {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }

    .contact-responsive {
        display: none;
        @media (max-width: 970px) {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
        }
        .social-network-responsive {
            width: 100%;
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    font-size: 2rem;
                }
            }
            
        }
    }
}