.header {
    height: 100vh;
    color: $color2;
    font-family: Montserrat;
    font-weight: 700;
    background: url(../img/bg1.jpeg)left/cover;
    ::selection {
        color: $color3;
    }
    .language {  
        margin: 0 auto;
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            li {
                cursor: pointer;
                margin: 10px;
                &:hover {
                    color: $color3;
                    background: none;
                }
                a {
                    &:hover {
                        color: $color3;
                    }
                }
            }
        }
    }
    nav {
        display: flex;
        grid-template-columns: 10% 45% 45%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        padding-bottom: 50px;
        position: relative;
        @media (max-width: 1170px) {
            font-size: 1rem;
            justify-content: start;
        }
        @media (max-width: 970px) {
            display: none;
        }
        
        li{
            transition: 0.3s ease;
                &:hover {
                    background: $color3;
                }
        }
        
        .nav-menu {
            width: 65%;

            ul {
                display: flex;
                justify-content: flex-start;
            
                li {
                    padding: 0 30px;
                    border-radius: 10px;
                    margin-right: 70px;
                    @media (max-width: 970px) {
                        margin-right: 10px;
                    }
                }
            }
        }
        .nav-doc {
            width: 20%;
            text-align: right;
            button {
                width: 100px;
                @media (max-width: 970px) {
                    display: none;
                }
            }
        }
    }
    .header-content {
        display: flex;
        height: 75vh;
        justify-content: center;
        align-items: center;
        @media (max-width: 970px) {
            height: 100%;
        }
        .header-content-left {
            margin: 50px;
            width: 100%;
            height: 100%;
            margin-left: 200px;
            font-family: Poppins;
            position: relative;
            @media (max-width: 1170px) {
                margin-left: 80px;
                text-align: center;
            }
            @media (max-width: 970px) {
                padding-top: 50px;
            }
                
            h1 {
                font-size: 4rem;
                letter-spacing: 3px;
                margin: 0;
                text-transform: capitalize;
                padding-top: 50px;
                @media (max-width: 1170px) {
                    font-size: 2.5rem;
                }
                @media (max-width: 510px) {
                    font-size: 1.5rem;
                }
            }
            h2 {
                font-size: 2rem;
                margin-top: 10px;
                @media (max-width: 1170px) {
                    font-size: 1.2rem;
                }
            
            }
            p {
                margin-top: 200px;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 30px;
                width: 75%;
                @media (max-width: 1170px) {
                    font-size: 1rem;
                    margin-top: 100px;
                    width: 100%;
                    margin-bottom: 40px;
                }
                
            }
        }
        
    }
    .social-network {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        @media (max-width: 970px) {
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 20%;
            li {
                transition: 0.3s ease;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}